:root.light {
  --main-color: #fff;
  --text-color: #000;
  --accent-color: #0048c5;
  --accent-color-darker: #2b116e;
  --accent-color-desat: #3d3150;
  --secondary-accent: #fa2c9a;
  --secondary-accent-darker: #bb1684;
  --secondary-accent-desat: #912972;
  --bg-color: #ffefef;

  .icon {
    filter: invert(0);
  }

  .themeFilter {
    filter: hue-rotate(220deg) brightness(1.5) grayscale(30%);
  }

  .project-img {
    filter: url("../assets/filters.svg#light-pink-blue");
    transition: filter 1s ease-out;
  }
  .project:hover {
    .project-img {
      filter: none;
    }
  }

  body {
    font-weight: 300;
  }
  header {
    .light-switch {
      &:hover {
        filter: invert(51%) sepia(85%) saturate(4541%) hue-rotate(345deg)
          brightness(104%) contrast(96%);
      }
    }
  }
  #contact {
    &Form {
      input,
      textarea {
        color: var(--bg-color);
        &::placeholder {
          color: var(--text-color);
        }
      }
    }
  }

  #darkIcon {
    display: none;
  }
  #lightIcon {
    display: block;
  }
}

:root,
:root.dark {
  --main-color: #181818;
  --text-color: #fff;
  --accent-color: #00c53e;
  --accent-color-darker: #116e2f;
  --accent-color-desat: #31503b;
  --secondary-accent: #fa552c;
  --secondary-accent-darker: #bb3716;
  --secondary-accent-desat: #913e29;
  --bg-color: #101010;

  .icon {
    filter: invert(100);
  }

  .project-img {
    filter: url("../assets/filters.svg#dark-red-green");
    transition: filter 1s ease-out;
  }
  .project:hover {
    .project-img {
      filter: none;
    }
  }

  #darkIcon {
    display: block;
  }
  #lightIcon {
    display: none;
  }
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --main-color: #181818;
//     --text-color: #fff;
//     --accent-color: #00c53e;
//     --accent-color-darker: #116e2f;
//     --accent-color-desat: #31503b;
//     --secondary-accent: #fa552c;
//     --secondary-accent-darker: #bb3716;
//     --secondary-accent-desat: #913e29;
//     --bg-color: #101010;

//     .icon {
//       filter: invert(100);
//     }

//     .project-img {
//       filter: url("../assets/filters.svg#dark-red-green");
//       transition: filter 1s ease-out;
//     }
//     .project:hover {
//       .project-img {
//         filter: none;
//       }
//     }

//     #darkIcon {
//       display: block;
//     }
//     #lightIcon {
//       display: none;
//     }
//   }
// }
