:root,
:root.light {
  --main-color: #fff;
  --text-color: #000;
  --accent-color: #dd5e3e;
  --secondary-accent: #4ffff9;
  --bg-color: #d6d6d6;

  #darkIcon {
    display: none;
  }
  #lightIcon {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #181818;
    --text-color: #fff;
    --accent-color: #00c53e;
    --secondary-accent: #fa552c;
    --bg-color: #000000;

    .icon {
      filter: invert(100);
    }

    #darkIcon {
      display: block;
    }
    #lightIcon {
      display: none;
    }
  }
}

:root.dark {
  --main-color: #181818;
  --text-color: #fff;
  --accent-color: #14a742;
  --secondary-accent: #dd5e3e;
  --bg-color: #3d3d3d;

  .icon {
    filter: invert(100);
  }
  
  #darkIcon {
    display: block;
  }
  #lightIcon {
    display: none;
  }
}
